In [1]:
import numpy as np
import pandas as pd

Instructions :
    
    Step 1: In this first task, we will load the data to a numpy array and add a new record to it.
    The path to the data set has been stored in the variable named path
    Load the dataset and store it in a variable called data using np.genfromtxt()

In [37]:
file='file.csv'
data=pd.read_csv(file)
data.shape
data.head
data.describe()

,age,education-num,race,sex,capital-gain,capital-loss,hours-per-week,income
count,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,38.05100,10.084000,3.653000,0.671000,588.526000,92.960000,39.876000,0.23200
std,13.34948,2.548615,0.854003,0.470085,2618.537515,412.442337,12.018114,0.42232
min,17.00000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000
25%,28.00000,9.000000,4.000000,0.000000,0.000000,0.000000,40.000000,0.00000
50%,36.00000,10.000000,4.000000,1.000000,0.000000,0.000000,40.000000,0.00000
75%,46.00000,12.000000,4.000000,1.000000,0.000000,0.000000,45.000000,0.00000
max,90.00000,16.000000,4.000000,1.000000,34095.000000,2415.000000,99.000000,1.00000

In [38]:
new_record=np.array([50,  9,  4,  1,  0,  0, 40,  0])
print(new_record.shape)
new2=new_record.reshape(1,-1)
new2.shape

(8,)

(1, 8)

In [4]:
census=np.concatenate((data,new2))
type(census)
census.shape

(1001, 8)



    Create four different arrays by subsetting 'census' array by Race column(Race is the column with index 2) and save them in 'race_0','race_1', 'race_2', 'race_3' and 'race_4' respectively(Meaning: Store the array where 'race'column has value 0 in 'race_0', so on and so forth)

    Store the length of the above created arrays in 'len_0', 'len_1','len_2', 'len_3' and 'len_4' respectively

    Find out which is the race with the minimum no. of citizens

    Store the number associated with the minority race in a variable called 'minority_race'(For eg: if "len(race_5)" is the minimum, store 5 in 'minority_race' because that is the index of the race having the least no. of citizens )

In [5]:
data_new=census[:,2]

In [6]:
data_new[0]

4

In [7]:
0 in data_new

True

In [8]:
ittr=len(data_new)

In [9]:
race_0=[]
race_1=[]


race_4=[]

race_4=[]
for i in range(0,ittr):
    if data_new[i] == 0:
        race_0.append(i)
    elif data_new[i] == 4:
        race_4.append(i)
    elif data_new[i] == 1:
        race_1.append(i)

In [10]:
print(f"The race 0 is {race_0}")
print(f"The race 1 is {race_1}")
print(f"The race 4 is {race_4}")

The race 0 is [15, 212, 226, 447, 516, 565, 596, 607, 903, 940]
The race 1 is [11, 14, 27, 93, 139, 152, 162, 163, 213, 255, 265, 297, 301, 304, 311, 434, 455, 591, 652, 655, 668, 731, 873, 892, 916, 917, 968]
The race 4 is [0, 1, 2, 5, 7, 8, 9, 12, 16, 17, 18, 19, 20, 23, 24, 25, 26, 28, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 118, 119, 120, 121, 123, 125, 126, 127, 128, 129, 130, 131, 132, 133, 135, 136, 137, 138, 140, 141, 142, 143, 144, 146, 147, 148, 149, 150, 151, 153, 154, 155, 156, 158, 160, 161, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 178, 179, 181, 183, 184, 186, 187, 188, 189, 191, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 207, 208, 209, 211, 214, 216, 217, 218, 219, 220, 221, 224, 225, 227, 228, 229, 232, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 253, 254, 256, 257, 258, 259, 260, 261, 262, 263, 264, 266, 267, 268, 269, 270, 271, 272, 273, 274, 276, 277, 278, 279, 280, 281, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 295, 296, 298, 299, 300, 302, 303, 305, 306, 307, 308, 309, 310, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 327, 328, 329, 331, 332, 333, 334, 335, 336, 337, 340, 341, 342, 343, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 405, 406, 407, 408, 409, 412, 413, 414, 415, 416, 417, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 435, 437, 438, 439, 440, 441, 442, 443, 444, 445, 448, 449, 451, 452, 454, 456, 458, 459, 460, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 506, 507, 509, 510, 512, 513, 514, 515, 517, 518, 519, 520, 521, 523, 524, 525, 526, 527, 528, 529, 531, 533, 534, 535, 537, 538, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 555, 556, 557, 558, 559, 560, 561, 562, 564, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 592, 593, 594, 595, 597, 598, 599, 600, 601, 602, 603, 604, 606, 609, 610, 611, 612, 613, 614, 615, 617, 618, 619, 620, 623, 624, 626, 627, 628, 629, 632, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 653, 654, 656, 657, 658, 659, 661, 662, 663, 664, 665, 666, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 684, 685, 686, 687, 688, 689, 690, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 708, 709, 710, 712, 713, 714, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 732, 733, 735, 737, 739, 740, 741, 742, 743, 744, 745, 746, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 786, 787, 788, 789, 790, 791, 792, 793, 794, 796, 798, 799, 800, 802, 803, 804, 805, 806, 807, 808, 809, 810, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 875, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 889, 891, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 904, 905, 906, 908, 909, 910, 911, 912, 913, 915, 918, 919, 920, 921, 922, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 942, 943, 944, 946, 947, 948, 949, 950, 951, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 969, 970, 971, 972, 973, 974, 975, 976, 977, 979, 980, 981, 983, 984, 985, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

In [11]:
print(len(race_0))
print(len(race_1))
print(len(race_4))

10
27
848



    Create a new subset array called 'senior_citizens' by filtering 'census' according to age>60 (age is the column with index 0)

    Add all the working hours(working hours is the column with index 6) of 'senior_citizens' and store it in a variable called 'working_hours_sum'

    Find the length of 'senior_citizens' and store it in a variable called 'senior_citizens_len'

    Finally find the average working hours of the senior citizens by dividing 'working_hours_sum' by 'senior_citizens_len' and store it in a variable called 'avg_working hours'.

    Print 'avg_working_hours' and see if the govt. policy is followed.

In [22]:
age=census[:,0]

In [152]:
senior_citizen=[]
for i in range(0,ittr):
    if age[i] > 60:
        senior_citizen.append(age[i])

In [153]:
senior_citizen_len=len(senior_citizen)

In [154]:
hours=census[:,6]

In [155]:
hours

array([40., 13., 40., ..., 40., 50., 40.])

In [156]:
working_hours=[]
for i in range(0,ittr):
    if age[i] > 60:
        working_hours.append(hours[i])

In [157]:
sum(working_hours) # When working with lists

1917.0

In [158]:
working_hours=np.array((working_hours))

In [159]:
working_hours_sum=working_hours.sum()   #When working with arrrays

In [160]:
avg_working_hours=working_hours_sum/senior_citizen_len
print(avg_working_hours)

31.42622950819672

Step 5: Our parents have repeatedly told us that we need to study well in order to get a good(read: higher-paying) job. Let's see whether the higher educated people have better pay in general.

    Create two new subset arrays called 'high' and 'low' by filtering 'census' according to education-num>10 and education-num<=10 (education-num is the column with index 1) respectively.

    Find the mean of income column(income is the column with index 7) of 'high' array and store it in 'avg_pay_high'. Do the same for 'low' array and store it's mean in 'avg_pay_low'.

Note: - Since income is a binary variable, mean() here represents the percentage of ppl having annual income higher than 50K. - You could have used "mean()" function to solve the task 'Young Country? Old Country?' as well.

    Compare 'avg_pay_high' and 'avg_pay_low' and see whether there is truth in better education leads to better pay

Test Cases: The correct value in 'avg_pay_high' should be 0.43 when rounded upto 2 decimal places. The correct value in 'avg_pay_low' should be 0.14 when rounded upto 2 decimal places.

In [162]:
high=census[census[:,1]>10]

In [167]:
low=census[census[:,1]<=10]

In [172]:
high.shape

(327, 8)

# ANOTHER WAY

In [184]:
avg_pay_high = high[:,7].mean().round(2)

In [185]:
avg_pay_low = low[:,7].mean().round(2)

In [186]:
print("Avg pay high is"+str(avg_pay_high))
print("Avg pay low is"+str(avg_pay_low))

Avg pay high is0.43
Avg pay low is0.14

# FULL ANOTHER WAY CODING

In [161]:
# # Importing header files
# import numpy as np

# #New record
# new_record=[[50,  9,  4,  1,  0,  0, 40,  0]]

# #Code starts here
# file='file.csv'
# #Loading data file and saving it into a new numpy array 
# data = np.genfromtxt(file, delimiter=",", skip_header=1)

# print(data.shape)

# #Concatenating the new record to the existing numpy array
# census=np.concatenate((data, new_record),axis = 0)

# print(census.shape)

# #Subsetting the array to include only 'Age' column
# age=census[:,0]

# #Finding the max value of age
# max_age=age.max()
# print("Max Age= ",max_age)
# print(age)

# #Find the min value of age
# min_age=age.min()
# print("Min Age= ",min_age)

# #Find the mean of age
# age_mean=age.mean()
# print("Age Average= ", age_mean)

# #Find the standard deviation of age
# age_std=age.std()
# print("Age Standard Deviation= ",age_std)

# #Creating new subsets based on 'Age'
# race_0=census[census[:,2]==0]
# race_1=census[census[:,2]==1]
# race_2=census[census[:,2]==2]
# race_3=census[census[:,2]==3]
# race_4=census[census[:,2]==4]


# #Finding the length of the above created subsets
# len_0=len(race_0)
# len_1=len(race_1)
# len_2=len(race_2)
# len_3=len(race_3)
# len_4=len(race_4)

# #Printing the length of the above created subsets
# print('Race_0: ', len_0)
# print('Race_1: ', len_1)
# print('Race_2: ', len_2)
# print('Race_3: ', len_3)
# print('Race_4: ', len_4)

# #Storing the different race lengths with appropriate indexes
# race_list=[len_0, len_1,len_2, len_3, len_4]

# #Storing the race with minimum length into a variable 
# minority_race=race_list.index(min(race_list))

# #Subsetting the array based on the age 
# senior_citizens=census[census[:,0]>60]
# #Calculating the sum of all the values of array
# working_hours_sum=senior_citizens.sum(axis=0)[6]
# print("dd"+str(working_hours_sum))
# #Finding the length of the array
# senior_citizens_len=len(senior_citizens)

# #Finding the average working hours
# avg_working_hours=working_hours_sum/senior_citizens_len
# print(avg_working_hours)
# #Printing the average working hours

# #Creating an array based on 'education' column
# high=census[census[:,1]>10]

# #Finding the average pay
# avg_pay_high=high[:,7].mean()

# #Printing the average pay
# print(avg_pay_high)

# #Creating an array based on 'education' column
# low=census[census[:,1]<=10]

# #Finding the average pay
# avg_pay_low=low[:,7].mean()

# #Printing the average pay
# print(avg_pay_low)
# #Code ends here